h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__sans;
	margin: 0;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}

.comment-reply-title,
h1.entry-title {
	font-size:2.6em;
	 background-color: #94d0ea;
	 font-family: 'Oswald';
	 padding: 0.3em;
	 padding-bottom: 0.45em;
	 text-transform: uppercase;
}

.entry-title{
	font-family: $font__merriweather;
	line-height: 1em;
	a {
	  color: #000;
	  text-decoration: none;
	}
	a:hover,
	a:focus {
		color: #000;
		text-decoration: underline;
	}
	margin-top:0.3em;
	margin-bottom: 0.1em;


}
