.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ygsicon .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-ygsicon .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-ygsicon .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-ygsicon .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-ygsicon .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ygsicon .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-ygsicon .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-ygsicon .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-ygsicon .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path17:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ygsicon .path18:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ygsicon .path19:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-ygsicon .path20:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
.icon-clean:before {
  content: "\e915";
}
.icon-spellcheck:before {
  content: "\e916";
}
.icon-download:before {
  content: "\e917";
}
.icon-translate:before {
  content: "\e918";
}
.icon-reader:before {
  content: "\e900";
}
.icon-redraw:before {
  content: "\e919";
}
.icon-qc:before {
  content: "\e986";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-typeset:before {
  content: "\ea61";
}
.icon-quote-right:before {
  content: "\e91a";
}
.icon-quote-left:before {
  content: "\e91f";
}
.icon-profilew:before {
  content: "\e91e";
}
.icon-mailw:before {
  content: "\e91c";
}
.icon-mailb:before {
  content: "\e91d";
}
.icon-profileb:before {
  content: "\e91b";
}
