.open-nav .navbar-toggle {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.navbar-toggle {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#primary-menu {
	font-family: 'Oswald', sans-serif;
	color: #000000;
	font-size: 1.3em;
	@media screen and (min-width: 870px) {
			font-size: 1.5em;
	  }

		.current_page_item {
			a {
				color: #FFFFFF;
				background-color: #bf5c92;
			}

		}

}





/* transition effects */
.it-wrapper{

}
a#it-text{
	font-size: 2em;
	margin-left:0em;

	color: rgba(255,255,255,0.1);
	font-family: 'Titan One', cursive;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	background: -moz-linear-gradient(left, rgba(105,94,127,0.54) 0%, rgba(255,92,92,0.57) 15%, rgba(255,160,17,0.59) 27%, rgba(252,236,93,0.61) 37%, rgba(255,229,145,0.63) 46%, rgba(111,196,173,0.65) 58%, rgba(106,132,186,0.67) 69%, rgba(209,119,195,0.69) 79%, rgba(216,213,125,0.7) 89%, rgba(216,213,125,0.72) 100%), -moz-repeating-linear-gradient(-45deg, rgba(255,255,255,0.5), transparent 20px, rgba(255,255,255,0.3) 40px);
	background: -webkit-linear-gradient(left, rgba(105,94,127,0.54) 0%,rgba(255,92,92,0.57) 15%,rgba(255,160,17,0.59) 27%,rgba(252,236,93,0.61) 37%,rgba(255,229,145,0.63) 46%,rgba(111,196,173,0.65) 58%,rgba(106,132,186,0.67) 69%,rgba(209,119,195,0.69) 79%,rgba(216,213,125,0.7) 89%,rgba(216,213,125,0.72) 100%), -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,0.5), transparent 20px, rgba(255,255,255,0.3) 40px);
	background: -o-linear-gradient(left, rgba(105,94,127,0.54) 0%,rgba(255,92,92,0.57) 15%,rgba(255,160,17,0.59) 27%,rgba(252,236,93,0.61) 37%,rgba(255,229,145,0.63) 46%,rgba(111,196,173,0.65) 58%,rgba(106,132,186,0.67) 69%,rgba(209,119,195,0.69) 79%,rgba(216,213,125,0.7) 89%,rgba(216,213,125,0.72) 100%), -o-repeating-linear-gradient(-45deg, rgba(255,255,255,0.5), transparent 20px, rgba(255,255,255,0.3) 40px);
	background: -ms-linear-gradient(left, rgba(105,94,127,0.54) 0%,rgba(255,92,92,0.57) 15%,rgba(255,160,17,0.59) 27%,rgba(252,236,93,0.61) 37%,rgba(255,229,145,0.63) 46%,rgba(111,196,173,0.65) 58%,rgba(106,132,186,0.67) 69%,rgba(209,119,195,0.69) 79%,rgba(216,213,125,0.7) 89%,rgba(216,213,125,0.72) 100%), -ms-repeating-linear-gradient(-45deg, rgba(255,255,255,0.5), transparent 20px, rgba(255,255,255,0.3) 40px);
	background: linear-gradient(left, rgba(105,94,127,0.54) 0%,rgba(255,92,92,0.57) 15%,rgba(255,160,17,0.59) 27%,rgba(252,236,93,0.61) 37%,rgba(255,229,145,0.63) 46%,rgba(111,196,173,0.65) 58%,rgba(106,132,186,0.67) 69%,rgba(209,119,195,0.69) 79%,rgba(216,213,125,0.7) 89%,rgba(216,213,125,0.72) 100%), repeating-linear-gradient(-45deg, rgba(255,255,255,0.5), transparent 20px, rgba(255,255,255,0.3) 40px);

	background-size: 300% 100%;
	background-position: center left, top left;

	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;

	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
	-o-transition: all 0.7s linear;
	-ms-transition: all 0.7s linear;
	transition: all 0.7s linear;

	-moz-border-radius: 90px 15px;
	-moz-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.4);

		@media screen and (min-width: 970px) {
			font-size:2.3em;
			margin-left:2.5em;
		}
}
a#it-text:hover{
	text-decoration: none;
	cursor: pointer;
}
a#it-text.it-animate{
	background-position: center right, top right;
	color: rgba(39,137,149,0.5);

	-moz-box-shadow: 0px 0px 0px 10px rgba(39,137,149, 0.9);
}
