.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.widget {
	background-color: rgba(255,255,255,0.9);
	border-top: 20px solid $color__purple;
	border-bottom: 4px solid $color__purple;
}

.continue-reading {
	position:absolute;
	bottom:0;
	right:0;
	font-family: 'Oswald';
	font-size:1.2em;
	padding: 5px;
	a {
		color: #FFFFFF;
		&:hover {
			text-decoration: none;
		}
	}

}

.index-post-page {
	background-color: rgba(255,255,255,0.9);
	padding: 1em;
	padding-bottom: 2.2em;
}

.single-post-page,
.type-page {
	background-color: rgba(255,255,255,1);

	.entry-meta {
		padding: 0em 1em;
		border-bottom:5px solid $color__blue;
	}

	.entry-content,
	.entry-tags {
		margin: 1em 1em;
	}
}
article.single-post-page {
	border: none !important;
	border-bottom: 4px solid $color__blue !important;
}

article.type-page {
	border: none !important;
	border-bottom: 4px solid $color__blue !important;
}

div.flag {
	position:absolute; left:-70px; top:20px; width: 70px; height:70px;
}

.flag {
	padding-top:0.4em;
	text-align: center;
	font-family: 'Oswald';
	font-size: 1.7em;
	line-height:1em;

	.year {
		font-size: 0.8em;
	}
}


.site-main article:nth-of-type(4n+1) {
	border-top: 20px solid $color__red;
	border-bottom: 4px solid $color__red;

	@media screen and (min-width: $query__small) {
		border-top: 0px;
	}

	.flag {
		background-color: $color__red;
		visibility: hidden;

		@media screen and (min-width: $query__small) {
			visibility: visible;
		}
	}

	.continue-reading {
		background-color: $color__red;
	}

}

.site-main article:nth-of-type(4n+2) {
	border-top: 20px solid $color__yellow;
	border-bottom: 4px solid $color__yellow;

	@media screen and (min-width: $query__small) {
		border-top: 0px;
	}

	.flag {
		background-color: $color__yellow;
		visibility: collapse;
		@media screen and (min-width: $query__small) {
			visibility: visible;
		}
	}

	.continue-reading {
		background-color: $color__yellow;
	}

}

.site-main article:nth-of-type(4n+3) {
	border-top: 29px solid $color__green;
	border-bottom: 4px solid $color__green;

	@media screen and (min-width: $query__small) {
		border-top: 0px;
	}

	.flag {
		background-color: $color__green;
		visibility: hidden;
		@media screen and (min-width: $query__small) {
			visibility: visible;
		}
	}

	.continue-reading {
		background-color: $color__green;
	}

}

.site-main article:nth-of-type(4n+0) {
	border-top: 20px solid $color__blue;
	border-bottom: 4px solid $color__blue;

	@media screen and (min-width: $query__small) {
		border-top: 0px;
	}
	.flag {
		background-color: $color__blue;
		visibility: hidden;
		@media screen and (min-width: $query__small) {
			visibility: visible;
		}
	}

	.continue-reading {
		background-color: $color__blue;
	}
}
