.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.widget {
	background-color: rgba(255,255,255,0.9);
	border-top: 20px solid #bf5c92;
	border-bottom: 4px solid #bf5c92;
}

.post {
	background-color: rgba(255,255,255,0.9);
	padding: 1em;
}

div.flag {
	position:absolute; left:-70px; top:20px; width: 70px; height:70px;
}

.flag {
	padding-top:0.4em;
	text-align: center;
	font-family: 'Oswald';
	font-size: 1.7em;
	line-height:1em;

	.year {
		font-size: 0.8em;
	}
}


.site-main article:nth-of-type(4n+1) {
	border-top: 20px solid #ef6588;
	border-bottom: 4px solid #ef6588;

	@media screen and (min-width: $query__small) {
		border-top: 0px;
	}

	.flag {
		background-color: #ef6588;
		visibility: hidden;

		@media screen and (min-width: $query__small) {
			visibility: visible;
		}
	}

}

.site-main article:nth-of-type(4n+2) {
	border-top: 20px solid #ffc44a;
	border-bottom: 4px solid #ffc44a;

	@media screen and (min-width: $query__small) {
		border-top: 0px;
	}

	.flag {
		background-color: #ffc44a;
		visibility: collapse;
		@media screen and (min-width: $query__small) {
			visibility: visible;
		}
	}


}

.site-main article:nth-of-type(4n+3) {
	border-top: 29px solid #00d5ad;
	border-bottom: 4px solid #00d5ad;

	@media screen and (min-width: $query__small) {
		border-top: 0px;
	}

	.flag {
		background-color: #00d5ad;
		visibility: hidden;
		@media screen and (min-width: $query__small) {
			visibility: visible;
		}
	}

}

.site-main article:nth-of-type(4n+0) {
	border-top: 20px solid #94d0ea;
	border-bottom: 4px solid #94d0ea;

	@media screen and (min-width: $query__small) {
		border-top: 0px;
	}
	.flag {
		background-color: #94d0ea;
		visibility: hidden;
		@media screen and (min-width: $query__small) {
			visibility: visible;
		}
	}
}
